:root {
    --navbar-color: #7890cd;
    --background-color: #ffffff;
    --main-color: #2a3990;
    --unknown-color: #999999;
    --heading-font: 'Permanent Marker';
    --body-font: 'Pacifico';
}

* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: var(--navbar-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--heading-font), cursive;
}

#welcomeSection {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

#lastRecipes {
    border-color: var(--unknown-color);
    border: solid 1px;
    width: 48%;
    margin: 1%;
}

#websiteLinks {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    margin: 1.2em;
    font-size: 1.5em;

}

h1 {
    font-family: var(--heading-font), cursive;    
}

h2 {
    font-family: var(--heading-font), cursive;
    padding: 20px;
}

#titleLastRecipes {
    color: var(--main-color);
}

#titleEdito {
    color: var(--background-color);
}

#websiteLinks li {
    list-style-type: none;
    padding-left: 50px;

}

#lastRecipes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#edito {
    display: flex;
    flex-direction: column;
    margin: 15px;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    color: var(--background-color);
}

#imgEdito {
    width: 30%;
}

a {
    text-decoration: none;
    color: var(--background-color);
}

#logo {
    height: 100%;
    width: 25%;
    margin: 5mm;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    height: 100px;
    position: relative;
    bottom: 0;
}

#socialLinks {
    display: flex;
    list-style-type: none;
    padding: 0;
    background-color: var(--background-color);
}

#facebook, #twitter, #linkedin {
    width: 50px;
    height: 50px;
    margin: 2px;
}

.card {
    font-family: var(--body-font), cursive;    
}

p {
    font-family: var(--body-font), cursive;
}

.pointer {
    cursor: pointer;
}

#allRecipesSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recipeCard {
    display: flex;
    border: solid 1px;
    margin: 2%
}

.recipePicture {
    object-fit: cover;
    width: 400px;
    height: 300px;
}

#leftRecipeCard, #rightRecipeCard {
    margin: 2%;
}

#rightRecipeCard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#rightRecipeCard h2 {
    padding: 0;
}

#plusButton {
    background-color: var(--main-color);
    padding: 5px 40px 5px 40px;
    border-radius: 5px;
    font-family: var(--body-font), cursive;
    box-shadow: 4px 7px 5px var(--unknown-color);
    color: var(--background-color);
    font-size: 2em;
    margin-bottom: 20px;
}