
:root {
    --navbar-color: #7890cd;
    --background-color: #ffffff;
    --main-color: #2a3990;
    --unknown-color: #999999;
    --heading-font: 'Permanent Marker';
    --body-font: 'Pacifico';
}

* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: var(--navbar-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--heading-font), cursive;
}

#welcomeSection {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

#lastRecipes {
    border-color: var(--unknown-color);
    border: solid 1px;
    width: 48%;
    margin: 1%;
}

#websiteLinks {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    margin: 1.2em;
    font-size: 1.5em;

}

h1 {
    font-family: var(--heading-font), cursive;    
}

h2 {
    font-family: var(--heading-font), cursive;
    padding: 20px;
}

#titleLastRecipes {
    color: var(--main-color);
}

#titleEdito {
    color: var(--background-color);
}

#websiteLinks li {
    list-style-type: none;
    padding-left: 50px;

}

#lastRecipes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#edito {
    display: flex;
    flex-direction: column;
    margin: 15px;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    color: var(--background-color);
}

#imgEdito {
    width: 30%;
}

a {
    text-decoration: none;
    color: var(--background-color);
}

#logo {
    height: 100%;
    width: 250px;
    margin: 5mm;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    height: 100px;
    position: relative;
    bottom: 0;
}

#socialLinks {
    display: flex;
    list-style-type: none;
    padding: 0;
    background-color: var(--background-color);
}

#facebook, #twitter, #github {
    width: 50px;
    height: 50px;
    margin: 2px;
}

.card {
    font-family: var(--body-font), cursive;    
}

p {
    font-family: var(--body-font), cursive;
}

.pointer {
    cursor: pointer;
}

#allRecipesSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recipeCard {
    display: flex;
    border: solid 1px;
    margin: 2%
}

.recipePicture {
    object-fit: cover;
    width: 400px;
    height: 300px;
}

#leftRecipeCard, #rightRecipeCard {
    margin: 2%;
}

#rightRecipeCard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#rightRecipeCard h2 {
    padding: 0;
}


input[type=submit] {
    background-color: var(--main-color);
    box-shadow: 5px 5px 5px rgba(53, 93, 204, 0.753);
    font-family: var(--body-font), cursive;
    color: var(--background-color);
    width: 125px;
    height: 50px;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 10px;
}

#formContent {
    display: flex;
    justify-content: center;
    margin: 3%;
}

#connectionContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border: solid 2px var(--navbar-color) ;
    border-radius: 20px;
    background-color:  var(--navbar-color);
}

label {
    font-family: var(--body-font), cursive;
    font-size: 2em;
    padding: 10px 0 10px 0;
}

#connectionContent > input[type="password"],
#connectionContent >input[type="text"] {
    border-radius: 20px;
    text-align: center;
    width: 23em;
}

#welcomeBackMessage {
    font-family: var(--body-font), cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
    font-size: 4em;
}

#connectionContent > div {
    display: flex;
    justify-content: space-between;
}

#connectionButton {
    margin-top: 10px;
    background-color: var(--main-color);
    padding: 5px 40px 5px 40px;
    font-size: 2em;
    margin-bottom: 20px;
    width: unset;
    height: unset;
}

* { box-sizing: border-box; }
body {
  font: 16px Arial;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input, textarea {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

textarea {
  width: 80%;
}

input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.ingredient {
  width: fit-content;
}

.div-ingredient {
  display: flex;
  width: fit-content;
}

.div-ingredient:hover {
  cursor: pointer;
}

.div-ingredient em {
  margin: auto;
  margin-left: 10px;
  margin-right: 0;
}

.div-ingredient em::before {
  display: flex;
    justify-content: center;
    align-items: center;
}
